{% extends "base.html" %}

{% block content %}
	{% if validlink %}
    <p>Por favor digite e confirme sua nova senha</p>
    <form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                {{ form.new_password1.errors }}
                <label for=id_new_password">Nova senha:</label
            </td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>
                {{ form.new_password2_errors }}
                <label for="id_new_password2">Confirme a nova senha:</label>
            </td>
            <td>{{ form_new_password2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Mudar minha senha" /></td>
        </tr>
    </table>
    </form>
    {% else %}
    <h1>Mudança de senha falhou</h1>
    <p>
    O link de alteração de senha é inválido possívelmente porque já foi usado. Caso tenha algum problema, solicite uma nova senha.
    </p>
    {% endif %}
{% endblock %}