{% extends 'index.html' %}
{% block title %}Eventos Plus++ | Inscrição de Evento{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>Nome da Festa:</td>
            <td>{{ form.nome }}</td>
        </tr>
        <tr>
            <td>Local:</td>
            <td>{{ form.local }}</td>
        </tr>
        <tr>
            <td>Data de Início</td>
            <td>{{ form.data_inicio }}</td>
        </tr>
        <tr>
            <td>Data Final</td>
            <td>{{ form.data_final }}</td>
        </tr>
        <tr>
            <td>Descrição</td>
            <td>{{ form.descricao }}</td>
        </tr>
    </table>

    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'list_eventos' %}" class="btn btg-large btn-secondary">Cancelar</a>
    </div>

</form>
</body>
{% endblock %}