{% extends 'index.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1 class="mb-4">Detalhes do eventos: {{ evento.nome }}</h1>


        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nome do evento</th>
                <th scope="col">Inicio</th>
                <th scope="col">Final</th>
                <th scope="col">Local</th>
            </tr>
            <tbody>
            <td>{{ evento.nome }}</td>
            <td>{{ evento.data_inicio }}</td>
            <td>{{ evento.data_final }}</td>
            <td>{{ evento.local }}</td>
            </tbody>
        </table>
        <div style="display: flex; justify-content: center">{{ evento.descricao }}</div>
        <div class="align-end container-fluid"><a class="btn btn-primary btn-sm" href="{% url 'inscricao_evento' %}"> Inscrever-se</a>    <a class="btn btn-primary btn-sm" href="{% url 'list_eventos' %}">Voltar</a></div>

{% endblock %}