{% extends 'index.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="mb-4">Lista de Eventos</h1>
<br />
    {% if request.user.is_authenticated %}
<div><a class="btn btn-success" href="{% url 'inscricao_de_evento' %}"> Cadastrar novo evento</a></div>
    {% endif %}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome do Evento</th>
            <th scope="col">Descrição</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for evento in eventos %}
        <tr>
            <td>>{{ evento.nome }}</td>
            <td>{{ evento.descricao }}</td>
            {% if request.user.is_authenticated %}
            <td><a class="btn btn-primary btn-sm" href="{% url 'editar_evento' evento.id %}">Editar Evento</a> | <a class="btn btn-info btn-sm" href="{% url 'list_detalhes_eventos' evento.id %}">Ver Evento</a></td>
            {% else %}
             <td><a class="btn btn-primary btn-sm" href="{% url 'list_detalhes_eventos' evento.id %}">Ver Evento</a></td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td>Nenhum evento cadastrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<ul>
</ul>
<a class="btn btn-secondary" href="{% url 'index' %}">Voltar</a>
{% endblock %}