{% extends 'index.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="col-md-8" style="padding: 10px; background-color: lightskyblue; border-radius: 10px">
        <h1>Login</h1>
        <form method="post" class="row-g3">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-6">
                    <label for="username" class="form-label">Usuário:</label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="password" class="form-label">Senha:</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="padding-top: 10px; padding-bottom: 5px">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </div>
          </form>
    </div>

    {% if error %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Atenção</strong> Usuário ou senha inválidos.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}